
<div class="grid__one">
    <div class="grid__item">
        <div class="grid__nested"></div>
        <div class="grid__nested"></div>
    </div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
    <div class="grid__item"></div>
</div>

<div class="grid__two">
    <div class="grid__item_two">
        <div class="grid__nested_two"></div>
        <div class="grid__nested_two"></div>
    </div>
    <div class="grid__item_two"></div>
    <div class="grid__item_two"></div>
</div>

<div class="grid__v">
    <div class="grid__item_v">
        <div class="grid__nested_v"></div>
        <div class="grid__nested_v"></div>
    </div>
    <div class="grid__item_v"></div>
    <div class="grid__item_v"></div>
    <div class="grid__item_v"></div>
    <div class="grid__item_v"></div>
</div>