body {
  margin: 0;
  font-family: $font;
  @include bp ($lgdesktop) {
}
}
  .mainwrapper {
    min-width: $min-width;
  }
  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
  }

.promo {
  height: 100vh;
  min-height: 685px;
  position: relative;
  z-index: 5;
  margin: 0 0 70px 0;
  @include bp($lgdesktop) {
    min-height: 500px;
  }
  @include bp($tablet) {
    min-height: 1055px;
    margin: 0 0 100px 0;
  }
  @include bp($mob) {
    min-height: 652px;
    margin: 0 0 50px 0;
  }
  &__header {
    color: $mainColor;
    font-size: 1em;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 50px 0;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    @include bp ($lgdesktop) {
      padding: 21px 25px 0;
    }
    @include bp ($tablet) {
      padding: 60px 64px 0;
    }
    @include bp ($mob) {
      padding: 21px 25px 0;
    }
    &_nav {
      word-spacing: 3em;
      @include bp ($tablet) {
        word-spacing: 0.5em;
      }
    }
    &_link {
      text-decoration: none;
      color: #fff;
      font-size: 1em;
      @include bp ($lgdesktop) {
        font-size: 0.875em;
      }
      @include bp ($tablet) {
        font-size: 1.5em;
        word-spacing: 0.5em;
      }
      @include bp ($mob) {
        font-size: 0.875em;
      }
    }
  }
  &__tabs {
    width: 100%;
    margin: 0 auto;
    @include bp ($mob) {
      font-size: 0.8em;
    }
  }
  &__text {
    color: $mainColor;
    max-width: 350px;
    padding: 50px 0 0 0;
    font-size: 1em;
    position: relative;
    z-index: 15;
    margin: 0 0 3.3em 0;
    line-height: 1.5;
    @include bp ($lgdesktop) {
      font-size: 0.875em;
      margin: 0 0 1.8em 0;
    }
    @include bp ($tablet) {
      font-size: 1.5em;
      margin: 0 0 4em 0;
      max-width: 100%
    }
    @include bp ($mob) {
      margin: 0 0 2.8em 0;
      padding: 15px 0 0 0;
      font-size: 1.2em;
    }
  }
  &__title {
    color: $mainColor;
    font-size: 4.5em;
    position: relative;
    z-index: 15;
    margin: 0;
    max-width: 500px;
    line-height: 1.1;
    overflow: hidden;
    @include bp ($lgdesktop) {
      font-size: 2.5em;
      max-width: 300px;
    }
    @include bp ($tablet) {
      font-size: 4.5em;
      max-width: 100%;
    }
    @include bp (600) {
      font-size: 3.5em;
      max-width: 100%;
    }
    &_anim {
      position: relative;
      display: inline-block;
      top: 150px;
    }
    &_anim2 {
      position: relative;
      display: inline-block;
      bottom: 0px;
    }
  }
}

.slick-current .promo__title_anim {
  top: 0px;
  transition: top 1s ease-in;
}

.slick-current .promo__title_anim2 {
  bottom: 160px;
  transition: bottom 1s ease-in 2s;
}


.logo {
  font-size: 1.5em;
  display: inline-block;
  margin: 0;
  text-indent: -9999px;
  background: url("../images/brander_white.svg") no-repeat;
  background-size: auto 100%;
  //width: 20px;
  height: 20px;
  display: inline-block;
  animation: mlogoAnim 1s reverse;
  &:hover {
    animation: mlogoAnim 1s alternate-reverse infinite;
  }

  @include bp ($lgdesktop) {
    width: 12px;
    height: 12px;
    animation: logoAnim 1s reverse;
    &:hover {
      animation: logoAnim 1s alternate-reverse infinite;
    }
  }
  @include bp ($tablet) {
    width: 25px;
    height: 25px;
    animation: lglogoAnim 1s reverse;
    &:hover {
      animation: lglogoAnim 1s alternate-reverse infinite;
    }
  }
  @include bp ($mob) {
    width: 12px;
    height: 12px;
    animation: logoAnim 1s reverse;
    &:hover {
      animation: logoAnim 1s alternate-reverse infinite;
    }
  }
  &__after {
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: -15px;
      right: -6px;
      width: 1px;
      height: 47px;
      border-right: 2px solid #fb2222;
      @include bp ($lgdesktop) {
        top: -9px;
        height: 32px;
      }
      @include bp ($tablet) {
        top: -15px;
        right: -6px;
        height: 57px;
      }
      @include bp ($mob) {
        top: -9px;
        height: 32px;
      }
    }
    &:hover {
      &:after {
        animation: blink 0.5s infinite;
      }
    }
  }
}

ul.tabs{
  margin: 41px 0 0 0px;
  padding: 0;
  list-style: none;
  font-size: 1em;
  position: absolute;
  left: 216px;
  z-index: 15;
  @include bp ($lgdesktop) {
    left: 150px;
    margin: 12px 0 0 0;
  }
  @include bp ($smdesktop) {
    display: none;
  }
}
ul.tabs li{
  background: none;
  color: $mainColor;
  display: inline-block;
  padding: 10px 24px;
  cursor: pointer;
}

ul.tabs li.current{
  color: $mainColor;
}


.tab__img {
  position: absolute;
  z-index: 15;
  left: 50%;
  top: 200px;
  height: 100%;
  opacity: 0;
  transition: opacity 1.5s ease-out 0.5s, top 2s  ease-out 0.5s;
  @include bp ($tablet) {
    margin: 460px 0 0 0;
  }
  @include bp ($mob) {
    margin: 345px 0 0 0;
  }
  img {
    height: 100%;
    @include bp ($tablet) {
      height: 60%;
    }
    @include bp ($mob) {
      height: 48%;
    }
  }
  @include bp ($lgdesktop) {
    top: 400px;
  }
  @include bp ($tablet) {
    transform: translateX(-50%);
  }

}

.tab__img + .tab__img {
  top: -200px;
}

.slick-current{
  .tab__img {
    position: absolute;
    opacity: 1;
    top: 0;
  }
}

.slick-current{
  .tab__img + .tab__img {
    @include bp ($tablet) {
      display: none;
    }
  }
}


.tab-content .tab {
  &__item {
    min-height: 685px;
    padding: 143px 0 0 238px;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    @include bp ($lgdesktop) {
      padding: 73px 0 0 169px;
      min-height: 500px;
    }
    @include bp ($tablet) {
      padding: 100px 65px 0 65px;
      min-height: 1055px;
    }
    @include bp ($mob) {
      padding: 50px 15px 0 15px;
      min-height: 652px;
    }

  }
}

.tab__gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 320px;
  min-height: 685px;
  @include bp ($lgdesktop) {
    min-height: 500px;
  }
  @include bp ($smdesktop) {
    min-height: 500px;
  }
  @include bp ($tablet) {
    min-height: 1055px;
  }
  @include bp ($mob) {
    min-height: 652px;
  }
  &_1 {
    background: radial-gradient(at 110% 0px, #ff606f 0%, #df2f23 100%);
    opacity: 1;
    animation: bg 6s ease-in-out infinite alternate;
    z-index: 2;
  }
  &_2 {
    background: radial-gradient(at 110% 0px , #6583da 0%, #525cbd 100%);
  }

}
.backgroundtext {
  font-size: 730px;
  color: #280754;
  position: absolute;
  z-index: 1;
  margin: 0 0 0 -380px;
  bottom: 40%;
  transform: translateY(50%);
  opacity: 0.2;
  animation: bgtext 6s ease-in-out infinite alternate;
  display: none;
  @include bp ($lgdesktop) {
    font-size: 396px;
    margin: 0 0 0 -290px;
  }
  @include bp ($tablet) {
    display: none;
  }
}

.slick-active .backgroundtext {
  display: inline-block;
}

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  position: absolute;
  width: 138px;
  z-index: 25;
  left: 240px;
  top: 610px;
  text-align: right;
  @include bp ($lgdesktop) {
    left: 167px;
    top: 445px;
  }
  @include bp ($tablet) {
    left: 68px;
    top: 670px;

  }
  @include bp ($mob) {
    top: 475px;
    left: 20px;
  }

  li {
    margin: 5px 0;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
    color: transparent;
    font-size: 1em;
    height: 30px;

    @include bp ($tablet) {
      font-size: 1.5em;
      font-weight: 500;
      //padding: 22px 20px;
    }
    button {
      display: none;
    }
  }
  .slick-active#slick-slide00 {
    border-right: 3px solid #280754;
    color: #280754;
    &:after {
      content: "Design";
      font-size: 1em;
      border-left: 3px solid #280754;
      display: inline-block;
      height: 25px;
      margin: 0px 10px 0 10px;
      padding: 5px 0 0 10px;
      z-index: 20;
      @include bp ($tablet) {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 100%;
        top: -35px;
        left: 355px;
        border-left: none;
      }
      @include bp ($mob) {
        top: -40px;
        left: 300px;
      }
    }
    @include bp ($tablet) {
      border-left: none;
    }
  }
  .slick-active#slick-slide01 {
    border-right: 3px solid #c7e86b;
    color: #c7e86b;
    &:after {
      content: "Development";
      font-size: 1em;
      border-left: 3px solid #c7e86b;
      display: inline-block;
      height: 25px;
      margin: 0px 10px 0 10px;
      padding: 5px 0 0 10px;
      @include bp ($tablet) {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 100%;
        top: -35px;
        left: 355px;
        border-left: none;
      }
      @include bp ($mob) {
        top: -40px;
        left: 300px;
      }
    }
  }
  .slick-active#slick-slide02 {
    border-right: 3px solid #ff0000;
    color: #ff0000;
    &:after {
      content: "Mobile";
      font-size: 1em;
      border-left: 3px solid #ff0000;
      display: inline-block;
      height: 25px;
      margin: 0px 10px 0 10px;
      padding: 5px 0 0 10px;
      @include bp ($tablet) {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 100%;
        top: -35px;
        left: 355px;
        border-left: none;
      }
      @include bp ($mob) {
        top: -40px;
        left: 300px;
      }
    }
  }
  .slick-active#slick-slide03 {
    border-right: 3px solid #eced70;
    color: #eced70;
    &:after {
      content: "Marketing";
      font-size: 1em;
      border-left: 3px solid #eced70;
      display: inline-block;
      height: 25px;
      margin: 0px 10px 0 10px;
      padding: 5px 0 0 10px;
      @include bp ($tablet) {
        position: absolute;
        transform: rotate(90deg);
        transform-origin: 0 100%;
        top: -35px;
        left: 355px;
        border-left: none;
      }
      @include bp ($mob) {
        top: -40px;
        left: 300px;
      }
    }
  }
}


.slick-active+li {
  &:after {
    content: "";
    width: 3px;
    height: 0px;
    border-right: 2px solid #fff;
    position: absolute;
    right: 0px;
    transition: height 2s linear;
    animation: next 2s forwards;
  }
}
.next {
  &:before {
    content: "";
    width: 3px;
    height: 0px;
    border-right: 2px solid #fff;
    position: absolute;
    right: 0px;
    transition: height 2s linear;
    animation: next 2s forwards;
    z-index: 1;
  }
}
.slick-active.next {
  &:before {
    display: none;
  }
}


.tabs2__link {
  @include bp ($tablet) {
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 100%;
    top: -25px;
    left: 240px;
  }
  @include bp ($mob) {
    top: -45px;
    left: 200px;
  }
}

.header {
  color: $mainColor;
  font-size: 1em;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 50px;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
  @include bp ($lgdesktop) {
    padding: 21px 25px;
  }
  @include bp ($tablet) {
    padding: 60px 64px;
  }
  @include bp ($mob) {
    padding: 21px 25px;
  }
  &_nav {
    word-spacing: 3em;
    @include bp ($tablet) {
      word-spacing: 0.5em;
    }
  }
  &_link {
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    @include bp ($lgdesktop) {
      font-size: 0.875em;
    }
    @include bp ($tablet) {
      font-size: 1.5em;
      word-spacing: 0.5em;
    }
    @include bp ($mob) {
      font-size: 0.875em;
    }
  }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
  }
}


.promo2 {
  max-width: $max-width;
  padding: 0 0 0 235px;
  margin: 0 auto 228px auto;
@include bp ($lgdesktop) {
  padding: 0 0 0 171px;
  margin: 0 0 97px 0;
}
  @include bp ($tablet) {
    padding: 0 30px 0 60px;
    margin: 0 0 100px 0;
    min-height: 250px;
  }
  @include bp ($mob) {
    padding: 0 15px 0 15px;
    margin: 0 0 30px 0;
    min-height: 130px;
  }
  &__title {
    color: #000;
    font-size: 4.5em;
    line-height: 1;
    @include bp ($lgdesktop) {
      font-size: 2.25em;
    }
    @include bp ($tablet) {
      font-size: 3.5em;
    }
    @include bp ($mob) {
      font-size: 2em;
    }
  }
  &__text {
    color: #ff0000;
    font-size: 4.5em;
    line-height: 1;
    @include bp ($lgdesktop) {
      font-size: 2.25em;
    }
    @include bp ($tablet) {
      font-size: 3.5em;
    }
    @include bp ($mob) {
      font-size: 2em;
    }
  }
}

.tab-content .tab__img_tel {
  @include bp ($tablet) {
    margin-top: 422px;
  }
}
.typedtext {
  display: inline-block;
}
/*
@keyframes Img {
  0% {
    top: 100px;
  }
  100% {
    top: 0;
  }
}

@keyframes Imgtop {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}
*/
@include bp ($tablet) {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 1;
  }
}


@keyframes bg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bgtext {
  0% {
    color: #280754;
  }
  100% {
    color: #000033;
  }
}

.typed-cursor{
  opacity: 1;
  animation: blink 0.7s infinite;
}
@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

@keyframes next{
  0% { height:0; }
  100% { height:30px; }
}

@keyframes logoAnim {
  0% { width: 12px; }
  4% { width: 12px; }

  5% { width: 26px; }
  16.6% { width: 26px; }

  17% { width: 42px; }
  33.3% { width: 42px; }

  34% { width: 57px; }
  49.9% { width: 57px; }

  50% { width: 71px; }
  66.5% { width: 71px; }

  67% { width: 85px; }
  83.1% { width: 85px; }

  84% { width: 100px; }
  100% { width: 100px; }
}

@keyframes lglogoAnim {
  0% { width: 25px; }

  1% { width: 55px; }
  16.6% { width: 55px; }

  17% { width: 85px; }
  33.3% { width: 85px; }

  34% { width: 115px; }
  49.9% { width: 115px; }

  50% { width: 150px; }
  66.5% { width: 150px; }

  67% { width: 178px; }
  83.1% { width: 178px; }

  84% { width: 210px; }
  100% { width: 210px; }
}

@keyframes mlogoAnim {
  0% { width: 20px; }

  1% { width: 44px; }
  16.6% { width: 44px; }

  17% { width: 71px; }
  33.3% { width: 71px; }

  34% { width: 94px; }
  49.9% { width: 94px; }

  50% { width: 120px; }
  66.5% { width: 120px; }

  67% { width: 142px; }
  83.1% { width: 142px; }

  84% { width: 165px; }
  100% { width: 165px; }
}


