@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl.eot');
  src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl.woff') format('woff'),
  url('../fonts/MuseoSansCyrl/MuseoSansCyrl.ttf') format('truetype');
  font-style: normal;
}

